/EmployeeDirectory/nbproject/private/
/EmployeeDirectory/build/
/HealthCare Management System/nbproject/private/
/HealthCare Management System/build/
/Health Care Management System/nbproject/private/
/Health Care Management System/build/
/Health Care Management System/dist/
